@tailwind base;
@tailwind components;
@tailwind utilities;

#highlights {
  position: relative;
}

#highlights:after,
#highlights:before {
  background: url("./assets/wave.svg");
  content: "";
  position: absolute;
  bottom: 0px;
  width: 101vw;
  height: 12vw;
  left: 0;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
